footer{
    background: url(../psd-img/baground.png) no-repeat center;
    background-size: cover;
}

footer .image{
    text-align: center;
    position: relative;
}

footer .image img{
    margin-top: 60px;
    margin-bottom: 100px;
}

footer .image:after{
    width: 1145px;
    height: 2px;
    background: #181c21;
    content: "";
    position: absolute;
    bottom: 50px;
    left: 0;
}

footer .main{
    display: flex;
}

footer .contact{
    width: 38%;
}

footer .contact .icon i{
    width: 70px;
    height: 70px;
    background: #e3d1b8;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 21px;
    color: #fff;
    margin-bottom: 60px;
    margin-right: 30px;
}


footer .contact .text{
    width: 45%;
    margin-top: 5px;
    position: relative;
}

footer .contact .text:after{
    width: 370px;
    height: 2px;
    background: #181c21;
    content: "";
    position: absolute;
    bottom: 25%;
    left: -100px;
}

footer .contact .last{
    width: 51%;
    margin-top: 20px;
}

footer .contact .text p{
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
}

footer .contact .last p{
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

footer .contact .copy-right:after{
    width: 1145px;
    height: 2px;
    background: #181c21;
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
}

footer .contact .copy-right{
    position: relative;
}

footer .contact .copy-right p{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 30px;
}

footer .contact .copy-right span{
    margin-right: 20px;
}

footer .contact .copy-right i{
    color: #fff;
    position: absolute;
    top: 2px;
    left: 75px;
}

footer .details{
    width: 20%;
}

footer .details .text{
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

footer .details .text ul li{
    margin-bottom: 38px;
    transition: .4s;
}

footer .details .text ul li:hover{
    color: #e3d1b8;
}

footer .subscribe{
    width: 40%;
}

footer .subscribe .newsletter{
    width: 370px;
    height: 70px;
    background: #1d2228;
    border: 1px solid #444444;
    position: relative;
}

footer .subscribe .newsletter p{
    font-family: 'Arimo', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #444444;
    padding: 25px 20px;
}

footer .subscribe .newsletter .button{
    width: 150px;
    height: 50px;
    background: #e3d1b8;
    position: absolute;
    top: 10px;
    left: 85%;
}

footer .subscribe .newsletter .button h3{
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #444444;
    text-align: center;
    padding-top: 12px;
}

footer .subscribe .map{
    margin-top: 30px;
}

footer .subscribe .social-media .main{
    display: flex;
}

footer .subscribe .social-media{
    width: 45%;
    margin-top: 104px;
    margin-left: 257px;
}

footer .subscribe .social-media .icon {
    width: 50px;
    height: 77px;
    border: 1px solid #181c21;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 77px;
    transition: .4s;
}

footer .subscribe .social-media .icon:hover{
    background: #e4d2b9;
    color: #444444;
}