nav{
    width: 100%;
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.2);
}

nav .main{
    display: flex;
    margin: 30px 0;
}

nav .logo{
    width: 20%;
}

nav .nav-item{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .nav-item ul{
    text-align: right;
}

nav .nav-item ul li{
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-left: 55px;
    transition: .4s;
    cursor: pointer;
}

nav .nav-item ul li a{
    color: #fff;
    transition: .4s;
}

nav .nav-item ul li .active{
    color: #b7c5a9;
}

nav .nav-item ul li a:hover{
    color: #b7c5a9;
}